<h3>Списки посылок</h3>

<hr/>
<h3>Загрузить новый список посылок</h3>
<form action='/upload' enctype="multipart/form-data" method='POST'>
   <input name="file" type="file" />
   <br/>
   <input type="submit" value="Upload" />
</form>
